# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs and temp files
*.log
*.tmp
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/

# Output duplicates
output/temp/
